/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    padding: 10px 0;
  }
  .menu ul li a {
    font: size 20px;
    padding: 10px 0 0 !important;
    text-align: right;
  }
  .slider {
    padding-bottom: 60px;
  }
  .c-i {
    bottom: -60px;
  }
  .c-i [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  .s-text {
    margin-top: 0;
  }
  .s-text h1 {
    font-size: 25px;
  }
  .s-text h2 {
    font-size: 18px;
  }
  .s-text p {
    margin-bottom: 20px;
  }
  .s-icon ul li {
    margin-right: 15px !important;
  }
  .s-icon ul li i {
    font-size: 30px;
  }
  .feature {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .h-frt {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .p-frt {
    font-size: 17px;
  }
  .f-item {
    margin-top: 30px;
  }
  .f-icon i {
    margin-top: 0;
    font-size: 35px;
  }
  .f-text {
    text-align: center;
  }
  .f-text h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .f-text p {
    letter-spacing: 0;
  }
  /* contact start */
  .c-input {
    height: 45;
    padding: 10px 10px;
  }
  .c-submit {
    height: 45;
  }
  .c-form {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .con-icon ul li {
    margin-right: 25px !important;
  }
  .con-icon ul li i {
    font-size: 35px;
  }
  .f-1,
  .f-2,
  .f-3,
  .f-4,
  .f-5 {
    text-align: center;
  }
  .f-2,
  .f-3,
  .f-4,
  .f-5 {
    margin-top: 40px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu ul li a {
    font: size 20px;
    padding: 10px 0 0 !important;
    text-align: right;
  }
  .slider {
    padding-bottom: 60px;
  }
  .c-i {
    bottom: -55px;
  }
  .c-i [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  .s-text {
    margin-top: 0;
  }
  .s-text h1 {
    font-size: 25px;
  }
  .s-text h2 {
    font-size: 18px;
  }
  .s-text p {
    margin-bottom: 20px;
  }
  .s-icon ul li {
    margin-right: 20px !important;
  }
  .s-icon ul li i {
    font-size: 35px;
  }
  .feature {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .h-frt {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .p-frt {
    font-size: 17px;
  }
  .f-item {
    margin-top: 30px;
  }
  .f-icon i {
    margin-top: 0;
    font-size: 35px;
  }
  .f-text {
    text-align: center;
  }
  .f-text h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .f-text p {
    letter-spacing: 0;
  }
  /* contact start */
  .c-input {
    height: 40px;
    padding: 10px 10px;
  }
  .c-submit {
    height: 40px;
  }
  .c-form {
    margin-top: 35px;
    margin-bottom: 40px;
  }
  .con-icon ul li {
    margin-right: 25px !important;
  }
  .con-icon ul li i {
    font-size: 35px;
  }
  .f-1,
  .f-2,
  .f-3,
  .f-4,
  .f-5 {
    text-align: center;
  }
  .f-1 {
    margin-bottom: 40px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu ul li a {
    padding: 10px 0 0 !important;
    text-align: right;
  }

  .feature {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .f-item {
    margin-top: 50px;
  }
  footer {
    padding-bottom: 100px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/* Extra extra large devices (large desktops, 1400px and up)  */
@media (min-width: 1400px) {
}